* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

body > header > h1 {
  font-size: 4rem;
  text-align: center;
  margin: 3rem 0;
}

body > header > h2 {
  text-align: center;
  font-size: 2rem;
}

body > main > ul.userlist {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

ul.userlist > li {
  text-align: center;
  list-style: none;
}

ul.userlist > li.loading {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
}

ul.userlist > li > article > header > img {
  width: 100%;
  border-radius: 5%;
}

ul.userlist > li > article > header > h1 {
  margin: 0.5rem 0;
}

.button-div {
  text-align: center;
}

button {
  padding: 20px;
  margin: 20px;
  text-align: center;
}
